header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: orange;
    font-size: 1em;
    color: black;
    text-align: center;
}

header > h2, p {
    margin: 0;
}

.links {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.links > div {
    width: 80px;
    margin: auto;
    /* text-align: center; */
}

footer {
    height: 25px;
    background-color: orange;
    color: black;
    font-size: 1em;
    text-align: center;
}