body {
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: orange;
    font-size: 1em;
    color: black;
    text-align: center;
}

header > h2, p {
    margin: 0;
}

.links {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.links > div {
    width: 80px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    /* text-align: center; */
}

a {
    text-decoration: none;
    color: black;
}

footer {
    height: 25px;
    background-color: orange;
    color: black;
    font-size: 1em;
    text-align: center;
}

#start-button:hover {
    cursor: pointer;
}

#quick-how-to:hover {
    cursor: pointer;
}

.how-to-box {
    background-color: white;
    margin: 5px;
    padding: 10px;
    text-align: left;
    border-radius: 15px;
}